.moneda,.billete{
    position: absolute;
    top: 0px;
    width: 100px;
    height: 100px;
}

.hucha{
    position: absolute;
    width: 400px;
    display: block;
    bottom: 10px;
    margin-left: 45%;
}

.contador{
    position: relative;
    font-size: 50pt;
    top: 50%;
    margin-top: 300px;
}